<footer class="main-footer">
    <!-- <div class="pattern-layer-one" style="background-image: url(images/background/pattern-12.png)"></div>
    <div class="pattern-layer-two" style="background-image: url(images/background/pattern-13.png)"></div> -->
    <div class="auto-container">
        <div class="widgets-section">
            <div class="logo">
                <!-- <a href="index.html"><img src="images/footer-logo.png" alt="" /></a> -->
            </div>
            <ul class="contact-info-list">
                <li>
                    <span class="icon"><img src="assets/img/icon-1.png" alt="" /></span>
                    <a href="tel:+3453-909-6565">9992214505</a><br>
                    <!-- <a href="tel:+2390-875-223">9992214505</a> -->
                </li>
                <li>
                    <span class="icon"><img src="assets/img/icon-2.png" alt="" /></span>
                    <a href="mailto:infoname@gmail.com">sonudish123@gmail.com</a><br>
                    <!-- <a href="www.yourname.com">www.yourname.com</a> -->
                </li>
                <li>
                    <span class="icon"><img src="assets/img/icon-3.png" alt="" /></span>
                    W.No:12, Old Malancha More, <br> Dewanmaro, West Bengal
                </li>
            </ul>
            
            <!-- Social Box -->
            <ul class="social-box">
                <li><a href="https://www.facebook.com/" class="fa-brands fa-facebook-f"></a></li>
                <li><a href="https://www.linkedin.com/" class="fa-brands fa-linkedin-in"></a></li>
                <li><a href="https://skype.com/" class="fa-brands fa-skype"></a></li>
                <li><a href="https://www.twitter.com/" class="fa-brands fa-twitter"></a></li>
            </ul>
            
        </div>
        
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="copyright">&copy; 2024 Dhurga Cable Network. Developed by Ridsys</div>
        </div>
    </div>
</footer>