<section class="page-title" style="background-image: url(assets/img/back.jpg)">
    <div class="auto-container">
        <h2>Products</h2>
        <ul class="bread-crumb clearfix">
            <li><a href="#main">Home</a></li>
            <li>Products</li>
        </ul>
    </div>
</section>
<section class="shop-page-section">
    <div class="auto-container">

        <!-- Sort By -->
        <div class="items-sorting">
            <div class="row clearfix">
                <div class="results-column pull-left col-lg-6 col-md-12 col-sm-12">
                    <!-- <h5>Showing 1–12 of 24 results</h5> -->
                    <h5>Our Products</h5>

                </div>
                <!-- <div class="select-column clearfix pull-right col-lg-6 col-md-12 col-sm-12">
                    <div class="form-group">
                        <select name="sort-by">
                            <option>Default Sorting</option>
                            <option>By Order</option>
                            <option>By Price</option>
                        </select>
                    </div>
                    <ul class="options-views">
                        <li class="active"><a href="#" class="flaticon-squares"></a></li>
                        <li><a href="#" class="flaticon-menu-3"></a></li>
                        <li><a href="#" class="flaticon-list"></a></li>
                    </ul>
                </div> -->
            </div>
        </div>

        <div class="row clearfix">

            <div class="product-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <!-- <div class="inner-box"> --> <!--     old   -->
                <div class="inner-box">
                    <div class="image">
                        <a href="#main"><img src="/assets/img/C840copy.png" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <a href="#main" class="name">Set Top Box</a>
                        <!-- <div class="price">$10.40</div>
                        <ul class="shop-options">
                            <li><a href="shop-single.html" class="cart">Buy Product</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>

            <!-- <div class="product-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="shop-single.html"><img src="assets/img/2p.png" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <a href="shop-single.html" class="name">Ultra HD 2GB+8GB TV Box</a>
                        <div class="price">$33.40</div>
                        <ul class="shop-options">
                            <li><a href="shop-single.html" class="cart">Buy Product</a></li>
                      
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="product-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="shop-single.html"><img src="assets/img/3p.png" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <a href="shop-single.html" class="name">Bluetooth Speaker</a>
                        <div class="price">$33.40</div>
                        <ul class="shop-options">
                            <li><a href="shop-single.html" class="cart">Buy Product</a></li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="product-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="shop-single.html"><img src="assets/img/4p.png" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <a href="shop-single.html" class="name">Nest Cam Indoor</a>
                        <div class="price">$33.40</div>
                        <ul class="shop-options">
                            <li><a href="shop-single.html" class="cart">Buy Product</a></li>
                        
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="product-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="shop-single.html"><img src="assets/img/1p.png" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <a href="shop-single.html" class="name">WiFe Streaming Router</a>
                        <div class="price">$33.40</div>
                        <ul class="shop-options">
                            <li><a href="shop-single.html" class="cart">Buy Product</a></li>
                          
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="product-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="shop-single.html"><img src="assets/img/2p.png" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <a href="shop-single.html" class="name">Ultra HD 2GB+8GB TV Box</a>
                        <div class="price">$33.40</div>
                        <ul class="shop-options">
                            <li><a href="shop-single.html" class="cart">Buy Product</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="product-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="shop-single.html"><img src="assets/img/3p.png" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <a href="shop-single.html" class="name">Bluetooth Speaker</a>
                        <div class="price">$33.40</div>
                        <ul class="shop-options">
                            <li><a href="shop-single.html" class="cart">Buy Product</a></li>
                      
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="product-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="shop-single.html"><img src="assets/img/4p.png" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <a href="shop-single.html" class="name">Nest Cam Indoor</a>
                        <div class="price">$33.40</div>
                        <ul class="shop-options">
                            <li><a href="shop-single.html" class="cart">Buy Product</a></li>
                         
                        </ul>
                    </div>
                </div>
            </div> -->

            <!-- <div class="product-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="shop-single.html"><img src="assets/img/1p.png" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <a href="shop-single.html" class="name">WiFe Streaming Router</a>
                        <div class="price">$33.40</div>
                        <ul class="shop-options">
                            <li><a href="shop-single.html" class="cart">Buy Product</a></li>
                     
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="product-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="shop-single.html"><img src="assets/img/2p.png" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <a href="shop-single.html" class="name">Ultra HD 2GB+8GB TV Box</a>
                        <div class="price">$33.40</div>
                        <ul class="shop-options">
                            <li><a href="shop-single.html" class="cart">Buy Product</a></li>
                         
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="product-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="shop-single.html"><img src="assets/img/3p.png" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <a href="shop-single.html" class="name">Bluetooth Speaker</a>
                        <div class="price">$33.40</div>
                        <ul class="shop-options">
                            <li><a href="shop-single.html" class="cart">Buy Product</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="product-block col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="shop-single.html"><img src="assets/img/4p.png" alt=""></a>
                    </div>
                    <div class="lower-content">
                        <a href="shop-single.html" class="name">Nest Cam Indoor</a>
                        <div class="price">$33.40</div>
                        <ul class="shop-options">
                            <li><a href="shop-single.html" class="cart">Buy Product</a></li>
                       
                        </ul>
                    </div>
                </div>
            </div> -->

        </div>

        <!-- Styled Pagination -->
        <!-- <ul class="styled-pagination text-center">
            <li class="prev"><a href="#"><span class="fa fa-angle-left"></span></a></li>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">12</a></li>
            <li class="next"><a href="#"><span class="fa fa-angle-right"></span></a></li>
        </ul>                 -->
        <!-- End Styled Pagination -->

    </div>
</section>