
<app-header></app-header>
<section>
    <router-outlet></router-outlet>
</section>
<app-footer></app-footer>
<div class="search-popup">
	<div class="color-layer"></div>
	<button class="close-search"><span class="fa fa-arrow-up"></span></button>
	<form method="post" action="blog.html">
		<div class="form-group">
			<input type="search" name="search-field" value="" placeholder="Search Here" required="">
			<button type="submit"><i class="fa fa-search"></i></button>
		</div>
	</form>
</div>

<div class="scroll-to-top scroll-to-target" data-target="html" (click)="scrollToTop()" [style.display]="showScrollUpButton ? 'block' : 'none'" style="display: none;"><span class="fa fa-arrow-up"></span></div>